# List slicing

In [1]:
names = ['Pune','Thane','Mumbai','Lonavala','Baner']

In [2]:
print(names[-3])

Mumbai

var_name[start:stop:step]

In [3]:
names = ['Pune','Thane','Mumbai','Lonavala','Baner']
            0.    1.       2.        3.        4
print(names[1:5])

['Thane', 'Mumbai', 'Lonavala', 'Baner']

In [6]:
print(names[2:4])

['Mumbai', 'Lonavala', 'Baner']

In [7]:
print(names[-5:-2])

['Pune', 'Thane', 'Mumbai']

In [8]:
print(names[:5])

['Pune', 'Thane', 'Mumbai', 'Lonavala', 'Baner']

In [9]:
print(names[2:])

['Mumbai', 'Lonavala', 'Baner']

step default value is +1

+ --> L ---> R
- --> R ---> L

In [ ]:
names = ['Pune','Thane','Mumbai','Lonavala','Baner']
            0.    1.       2.        3.        4

In [10]:
print(names[1:5:2])

['Thane', 'Lonavala']

In [11]:
print(names[1:5:-1])

[]

In [12]:
print(names[::-1])

['Baner', 'Lonavala', 'Mumbai', 'Thane', 'Pune']

In [15]:
test = 'ETHANS. Arush'

In [16]:
print(test[::-1])

hsurA .SNAHTE

In [18]:
print(names[-1:-3:-1])

['Baner', 'Lonavala']

In [19]:
names = ['Pune','Thane','Mumbai','Lonavala','Baner']

In [21]:
even = names[::2]
odd =  names[1::2]
print(even)
print(odd)

['Pune', 'Mumbai', 'Baner']
['Thane', 'Lonavala']

In [22]:
print(len(names))

5

## Tuple

- Collection
- immutable
- ordered
- indexed

In [23]:
names = ('Arush','Ethans','Pune')
print(type(names))

<class 'tuple'>

In [24]:
print(names)

('Arush', 'Ethans', 'Pune')

In [25]:
print(names[-2])

Ethans

## sets

- collection
- unindexed
- unordered
- mutable
- unique elements

In [28]:
names = {'vivek','Ranjit','swapnil','akansha',5,7,'akansha'}

In [29]:
print(names)

{'Ranjit', 'akansha', 5, 7, 'vivek', 'swapnil'}

In [30]:
print(names[0])

TypeError: 'set' object is not subscriptable

In [32]:
names = {'vivek','Ranjit','swapnil','akansha',(5,7,'akansha')}