In [1]:
students = {'Sagar','Anurag','Suyash','Mayur'}

mentors = {'Bhavin','Vivek','Shyam','Mayur','Sagar'}

In [2]:
print(students - mentors)

{'Anurag', 'Suyash'}

In [3]:
print(mentors - students)

{'Shyam', 'Vivek', 'Bhavin'}

In [4]:
print(mentors & students)

{'Mayur', 'Sagar'}

In [5]:
print(mentors | students)

{'Suyash', 'Shyam', 'Vivek', 'Bhavin', 'Mayur', 'Sagar', 'Anurag'}

## Dictionary

- Collection
- Mutable
- ordered
- Indexed (Key)
- key-value pair
- keys can be immutable 
- keys are unique

In [9]:
stud_info = ['1','Arush','Python']
print('Name is ' + stud_info[0])

Name is 1

In [11]:
stud_info = {'roll_no':'1',
             'naam' : 'Arush',
             'course' : 'Python'
            }

print('Name is ' + stud_info['naam'])

Name is Arush

In [12]:
stud_info['naam'] = 'Vivek'

In [14]:
print(stud_info)

{'roll_no': '1', 'naam': 'Vivek', 'course': 'Python'}

# Boolean VALUE

In [16]:
var = 'true'
print(type(var))

<class 'str'>

In [17]:
var = True
print(type(var))

<class 'bool'>

In [18]:
var1 = False
print(type(var1))

<class 'bool'>

## None Type

In [19]:
var = None
print(type(var))

<class 'NoneType'>

## Comments in Python

- single line
- Multi lines
- Doc string

In [21]:
print('1 - Welcome to todays class by Arush')
print('2 - Welcome to todays class by Arush')
#print('3 - Welcome to todays class by Arush')
print('4 - Welcome to todays class by Arush')

1 - Welcome to todays class by Arush
2 - Welcome to todays class by Arush
4 - Welcome to todays class by Arush

In [23]:
print('1 - Welcome to todays class by Arush')
print('2 - Welcome to todays class by Arush')
'''
kdfn;kdfnbf lbndaflbndflk lkanbldknblzdfkb
dlkbvndflkbn
lkdfnbl;dfkam
ldfakbn;d
fbm
'''
print('3 - Welcome to todays class by Arush')
print('4 - Welcome to todays class by Arush')

1 - Welcome to todays class by Arush
2 - Welcome to todays class by Arush
3 - Welcome to todays class by Arush
4 - Welcome to todays class by Arush

## Type Casting

- str
- int
- float

In [25]:
age = 50

In [26]:
print(type(age))

<class 'int'>

In [28]:
print('Age is ' + str(age))

Age is 50

In [30]:
age = '6'
total = int(age) + 6
print(total)

12

- list
- tuple
- set
- dict

In [31]:
list1 = [1,2,3,4,5,6,7]
print(type(list1))

<class 'list'>

In [32]:
test = set(list1)
print(test)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
Enter your name : Vivek
Enter your Age. : 20
Enter the expected age : 200
    

Hi Vivek,
You will turn 200 years old in <year>