In [ ]:
train no (2 trains)
    - source
    - destination
    - stoppages
    - coach type(ac/sleeper/general)
        - coach_no
            - berth type
            - berth no
            - berth available / booked

In [4]:
train_info = {'123' : {'source'      : 'Pune',
                       'Destination' : 'Mumbai',
                       'stopages'    : ['Lonavala','Karjat'],
                       'coach_types' : {'ac' : {'B1' : {'L' : {'Available':[11,12,13],
                                                               'Booked' : [4,5,6]
                                                              },
                                                        'M' : {},
                                                        'U' : {}
                                                       },
                                                'B2' : {}
                                               },
                                        'sl' : {},
                                        'gn' : {}
                                       }
                       
                      },
              '234' : {}
             }

In [2]:
tno = input('enter the train no : ')
ct = input('enter the coach type : ')
cn = input('enter the coach no : ')
bt = input('enter the berth type : ')

enter the train no : 123
enter the coach type : ac
enter the coach no : B1
enter the berth type : L

In [5]:
print(train_info[tno]['coach_types'][ct][cn][bt]['Available'])

[11, 12, 13]

In [6]:
print(len(train_info[tno]['coach_types'][ct][cn][bt]['Available']))

3

In [10]:
list1 = [1,2,5,6,7,33,4,55,11]

# min
print(min(list1))

# max
print(max(list1))

# sum
print(sum(list1))

# len
print(len(list1))

1
55
124
9

In [12]:
list1 = 'Arush'

# min
print(min(list1))

# max
print(max(list1))

# sum
# print(sum(list1))

# len
print(len(list1))

A
u
5

In [13]:
print(ord('a'))
print(ord('A'))

97
65

In [14]:
print(ord('r'))

114

## range

In [16]:
print(list(range(5,20)))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [17]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [18]:
print(list(range(5,20,5)))

[5, 10, 15]

In [20]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [21]:
list1 = [1,2,3]

tup1 = (5,6,7,list1,6)

In [22]:
print(8+6*4*9-9)

215

In [24]:
print('Welcome to todays \n class by Arush') # new line

Welcome to todays
 class by Arush

In [25]:
print('Welcome to todays \\n class by Arush') # escape

Welcome to todays \n class by Arush

In [29]:
print("Welcome to todays '''\n''' class by Arush")

Welcome to todays '''
''' class by Arush

In [30]:
print("Welcome to todays \t class by Arush") # tab

Welcome to todays 	 class by Arush

In [32]:
print(r'Welcome to todays \n class \t by Arush') # raw string

Welcome to todays \n class \t by Arush

## Comparision

- value
- membership
- identity

## value

In [38]:
var1 = 'Ethans'
var2 = 'wakad'

In [39]:
print(var1 == var2) 
print(var1 > var2)
print(var1 < var2)
print(var1 >= var2)
print(var1 <= var2)
print(var1 != var2) # not equal to

False
False
True
False
True
True